<h1>Tenants#new</h1>

<!-- - if @tenant.errors.any?
  %ol
    - @tenant.errors.full_messages.each do |msg|
      %li= msg -->

<%= form_for @tenant do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true %>
  </p>
  
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>
 
    <%= f.label :submit %>
    <%= f.submit %>

<% end %>