<h3>Welcome <%=  @tenant.name %></h3>
<div class="myList">
	<ul>
		<li><%= @tenant.name %></li>
		<li><%= @tenant.email %></li>
		<li><%= link_to('Edit', edit_tenant_path(@tenant)) %></li>
		<li><%= link_to('Delete', @tenant, :method => 'delete', :data => {:confirm => 'Are you sure?'}) %></li>
	</ul>
</div>

<div class="myProperties">
	<h3>Property</h3>
	<% @tenant.properties.each do |property| %>
	<a href="/properties/<%= property.id %>">
		<ul>
			<li><%= property.street_address %></li>
			<li><%= property.suburb %></li>
			<li><%= property.state %></li>
			<li><%= property.postcode %></li>
			<li><%= link_to('Edit', edit_property_path(property)) %></li>
			<li><%= link_to('Delete', property, :method => 'delete', :data => {:confirm => 'Are you sure?'}) %></li>
		</ul>
	</a>
</div>


	
	<div class="myReviews">
		<h3>Review</h3>
		<% property.reviews.each do |review|%>
			<ul>
				<li><%= review.comment %></li>
				<li><%= review.rating %></li>
				<li><%= review.time_lived %></li>
				<li><%= review.building_condition %></li>
			    <li><%= review.kitchen_condition %></li>
				<li><%= review.bathroom_condition %></li>
				<li><%= review.bedroom_condition %></li>
				<li><%= review.area_crime %></li>
				<li><%= review.area_proximity %></li>
				<li><%= review.property_management %></li>
				<li><%= review.overall_comment %></li>

				<li><%= link_to('Edit', edit_review_path(review)) %></li>
				<li><%= link_to('Delete', review, :method => 'delete', :data => {:confirm => 'Are you sure?'}) %></li>
			</ul>
		
	<% end %>
<% end %>
</div>


