<h1>Properties#index</h1>

<% @properties.each do |property| %>
	<div class="myList">
		<ul>
			<li><%= link_to(property.street_address, property) %></li>
			<li><%= property.street_address %></li>
			<li><%= property.suburb %></li>
			<li><%= property.state %></li>
			<li><%= property.postcode %></li>
		</ul>
	</div>
<%end%>
