<%= form_for @review do |f| %>

		<p>
			<%= f.label :time_lived %>
			<%= f.text_field :time_lived %>
		</p>
		<p>
			<%= f.label :building_condition %>
			<%= f.text_field :building_condition %>
		</p>
		<p>
			<%= f.label :kitchen_condition %>
			<%= f.text_field :kitchen_condition %>
		</p>
		<p>
			<%= f.label :bathroom_condition %>
			<%= f.text_field :bathroom_condition %>
		</p>
		<p>
			<%= f.label :bedroom_condition %>
			<%= f.text_field :bedroom_condition %>
		</p>
		<p>
			<%= f.label :area_crime %>
			<%= f.text_field :area_crime %>
		</p>
		<p>
			<%= f.label :area_proximity %>
			<%= f.text_field :area_proximity %>
		</p>
		<p>
			<%= f.label :property_management %>
			<%= f.text_field :property_management %>
		</p>
		<p>
			<%= f.label :overall_comment %>
			<%= f.text_field :overall_comment %>
		</p>

   <%= f.submit %>
 
<% end %>