<h1>Reviews#index</h1>

<% @reviews.each do |review| %>
	<div class="myList">
		<ul>
		  <li><%= link_to(review.comment, review) %></li>
		  <li><%= review.comment %></li>
		  <li><%= review.rating %></li>
		  <li><%= review.time_lived %></li>
		  <li><%= review.building_condition %></li>
		  <li><%= review.kitchen_condition %></li>
		  <li><%= review.bathroom_condition %></li>
		  <li><%= review.bedroom_condition %></li>
		  <li><%= review.area_crime %></li>
		  <li><%= review.area_proximity %></li>
		  <li><%= review.property_management %></li>
		  <li><%= review.overall_comment %></li>
		</ul>
	</div>
<%end%>