<h1>Reviews#show</h1>
<p>Find me in app/views/reviews/show.html.erb</p>

<h1><%= @review.rating %></h1>
	<div class="myList">
		<ul>
		  <li><%= @review.comment %></li>
		  <li><%= @review.rating %></li>
		
		  <li><%= link_to('Edit', edit_review_path(@review)) %></li>
		  <li><%= link_to('Delete', @review, :method => 'delete', :data => {:confirm => 'Are you sure?'}) %></li>
		</ul>
	</div>