<!DOCTYPE html>
<html>
<head>
  <title>RentalApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<header>
		<h1 class="bigHeading">Realty Review</h1>
		<nav>
			<ul>
				<li><%= link_to('Register', new_tenant_path)%></li>
				<li><%= link_to('Sign In', login_path)%></li>
			</ul>
		</nav>
	</header>	

	<% if flash[:notice].present? %>
  		<h2><%= flash[:notice] %></h2>
	<% end %>


<%= yield %>

</div><!-- container -->

</body>
</html>
